@keyframes flash {
	0% { background-color: #FFF; }
	100% { background-color:#000; }
}

#AVSTOCK {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

#AVSTOCK .stock_item {
  padding: 2px 10px;
  background-color:#444;
  border: 1px solid #666;
  margin: 5px;
  display: inline-block;
}

#AVSTOCK .anchor {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%
}


/***** GRID *****/

#AVSTOCK .grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;  
  justify-content: space-around;
  align-content: flex-start;
  text-align: left;
  margin-bottom: 10px;
}

#AVSTOCK .grid-wrapper .stock_item {
  width: 110px;
  padding: 2px 2px 2px 4px;
}

#AVSTOCK .grid-wrapper .volume {
  margin-right: 0px
}


/***** TICKER *****/

#AVSTOCK #ticker-window {
  /*width: 100%;*/
  overflow: hidden;
  box-sizing: content-box;
}

#AVSTOCK #ticker-window .ticker-wrapper {
  white-space: nowrap;
  box-sizing: content-box;
  animation: stock-ticker linear infinite;
  display: flex;
  flex-flow: row nowrap;
  padding-left: 100%;
  padding-right: 100%;
}

#AVSTOCK .ticker-wrapper .stock_item {
  /*width: 110px;*/
}

@-webkit-keyframes stock-ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes stock-ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

/* spitzlbergerj: Extension ticker with line with own purchase price and the display for profit and loss */
#AVSTOCK .purchasePrice.profit, .purchaseChange.profit  {
  color: #0f0;
}

#AVSTOCK .purchasePrice.loss, .purchaseChange.loss {
  color: #f00f00;
}

#AVSTOCK .purchase {
  display:flex;
  flex-direction:row;
}


/* spitzlbergerj - end */



/***** TABLE *****/

#AVSTOCK .table-wrapper {
  display: table;
  border-spacing: 2px;
  border-collapse: separate;
  text-align: center;
}

#AVSTOCK .table-header {
  display: table-header-group;
  font-weight: bold;
}

#AVSTOCK .table-header-item {
  display: table-cell;
}


#AVSTOCK .table-wrapper .stock_item {
  display: table-row;  
}

#AVSTOCK .stock_item > div {
  display: table-cell;
  padding:5px 10px;
  line-height:1.5em;
}

#AVSTOCK thead td {
  background-color:#999;
  color:#000;
  font-weight:bold;
  text-align: center;
}

#AVSTOCK .symbol {
  font-weight:bold;
}

#AVSTOCK .price {
  color:#FF9;
  font-weight:bold;
}

#AVSTOCK .avstock-nav {
  text-align: center;
  width: 100%;
}

#AVSTOCK .avstock-nav .avstock-indicator {
  margin: 15px 5px;
  font-size: 1em;
}

/***** CHART *****/

#AVSTOCK #stockchart_head {
  justify-content: flex-start;  
}

/***** ALL *****/

#AVSTOCK * {
  line-height:1.5em;
}

#AVSTOCK > div {
  margin-bottom: 20px;
}

#AVSTOCK .changeP {
    margin-left: 6px;
}

#AVSTOCK .up .change,
#AVSTOCK .up .changeP,
#AVSTOCK .profit .purchaseChange,
#AVSTOCK .profit .purchasePrice {
  color: #0f0;
}

#AVSTOCK .down .change,
#AVSTOCK .down .changeP,
#AVSTOCK .loss .purchaseChange,
#AVSTOCK .loss .purchasePrice {
  color: #f00f00;
}

#AVSTOCK .up .change::before,
#AVSTOCK .profit .purchaseChange::before {
  content: " ▲";
}

#AVSTOCK .down .change::before,
#AVSTOCK .loss .purchaseChange::before {
  content: " ▼";
}

#AVSTOCK .tagline.alert:before {
  color: orange;
}

#AVSTOCK .animated {
  animation: flash linear 1s;
}

#AVSTOCK .tagline {
  font-size: 16px;
  text-align:right;
}
